@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    /* background-image: url(./assets/bg.jpg); */
    /* background-color: rgb(238, 231, 238); */
    background-image: linear-gradient(120deg,#ff6b6b,#5f27cd);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.box{
    min-width: 400px;
    background-color: #FAFAFA;
    border-radius: 35px;
    text-align: center;
    position: relative;
    
}
.box::before{
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    z-index: -1;
}
h4{color: #FAFAFA;}
h1{
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0 10px 0;
    margin: 10px 10px;
}
.content{
    padding: 0 40px;
}
.input{
    /* display: flex; */
    /* background: #fff; */
    /* box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.main{
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0 10px 0;
    margin: 0 10px;
    text-align: center;
}
.display{
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    width: 200px;
    background: #fff;
    /* box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    padding: 5px 0;
    margin: 5% 0; 
    position: relative;
    left: 26%;
    right: 25%;
  } 
.display #result{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #0be881;
}
#result #comment{
    /* color: #4f7df9;
    font-weight: 800; */
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;

}